* {
    outline: 1px solid red;
}  
 

/* FONTS */
/* font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Oxygen', sans-serif; */

body {
    transition: background-color .5s;
}

#wrapper {
  transition: margin-left .5s;
}

/* Side Navigation With Opacity Animation */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 150px;
}

.sidenav a {
    padding: 8px 8px 50px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    padding: 16px;
    height: 100vh;
    background-image: url("images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#menuIcon {
    position: fixed;
    z-index: 3;
    left: 15px;
    top: 15px;
    padding: 5px 5px;
}


#menuIcon:hover {
  background-color: rgba(196, 194, 194, 0.589);
}
/* Home/Landing Page intro */
h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: bolder
}

header {
    position: relative;
    top: 100px;
    left: 100px;
    width: 30%;
}

header h1 {
    padding: 25px;
    font-size: 65px;
}

header p {
    font-family: 'Do hyeon', sans-serif;
    padding: 15px;
    line-height: 25px;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
}

.emphasize {
    color: blue;
}

.social-links {
    text-align: center;
    font-size: 50px;
    padding: 20px 20px;
}

.fa-github-square {
  color: #252628;
}

.fa-github-square:hover{
  color: #91bbff;
}

.fa-linkedin {
  color: #252628;
}

.fa-linkedin:hover {
  color: #2f68c4;
}

.fa-twitter-square {
  color: #252628;
}

.fa-twitter-square:hover {
  color: #2aa3ef;
}

.fa-stack-overflow {
  color: #252628;
}

.fa-stack-overflow:hover {
  color: #f27f33;
}


/* PORTFOLIO SECTION */
#portfolio {
  width: 100%;
  background-color: white;
}

#portfolio h1 {
  text-align: center;
  padding: 50px 0;
  position: relative;
}

.portfolio-section {
  visibility: hidden;
}

.profile {
  height: 80%;
  width: 50%;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
}


.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


.profile-info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.info {
  padding: 10px 10px;
  display: block;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

span {
  font-weight: bold;
}

hr {
  border: 1px solid black;
  width: 50%;
}

.profile button {
  font-size: 15px;
  padding: 10px 10px;
  text-align: center;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  animation: button-reverse 1s;
  -webkit-animation: button-reverse 1s;
  animation-fill-mode: forwards;

}

.profile button:hover {
  background-color: #008CBA;
  animation: button-expansion 1s;
  -webkit-animation: button-expansion 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.skills {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.skills h2 {
  font-size: 30px;
  margin-top: 10px;
}



.skills li { 
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bolder;
  font-family: 'ubuntu', sans-serif;
}

.skills li:hover{
  font-size: 20px;
  background-color: rgba(120, 176, 240, 0.637);
}


/* CAROUSEL PORTION OF PORTFOLIO */
.carousel-div {
  height: 80%;
  width: 48%;
  display: inline-block;
  float: right;
}

.carousel-wrapper {
  height:400px;
  position:relative;
  width:80%;
  margin:0 auto;
}

.carousel-item {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
  color: white;
}

.github-link {
  position: absolute;
  bottom: 0;
  width: 80%;
  font-size: 45px;
  text-align: center;
  background: rgba(3, 3, 3, 0.349);
}

.github-link button {
  width: 30%;
  font-size: 20px;
  padding: 10px;
  vertical-align: top;
}

.arrow {
  position:absolute;
  top:0;
  display:block;
  width:50px;
  height:100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 20px no-repeat;
}

.arrow-prev {
  left:0;
}
 
.arrow-next {
    right:0;
    -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
  }

.light{
  color:white;
}



/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
  z-index: 2;
  opacity: 1;
  background:url('https://i.imgur.com/B7O1Ffd.png');
  background-size:cover;
  background-position: center;
  }

.item-2 {
  background:url('https://i.imgur.com/yjB40J7.png');
  background-size:cover;
  background-position: center;
}

.item-3 {
  background:url('https://i.imgur.com/umME64J.png');
  background-size:cover;
  background-position: center;
}

.item-4 {
  background:url('https://i.imgur.com/Kl9GvaZ.png');
  background-size:cover;
  background-position: center;
}

.item-5 {
  background:url('https://i.imgur.com/F9q8E50.png');
  background-size:cover;
  background-position: center;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }

#item-4:target ~ .item-4 {
  z-index: 3;
  opacity: 1;
}

#item-5:target ~ .item-5 {
  z-index: 3;
  opacity: 1;
}










/* TIMELINE HEADER */

.intro {
  background: #252628;
  padding: 50px 0;
}

.timeline-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  background: #252628;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #FFF;
  font-family: 'Ubuntu', sans-serif;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #FFF;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #FFF transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -465px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #FFF;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #FFF;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}



/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #FFF transparent transparent;
  }
}

@media (max-width: 480px) {
  .arrow, .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@keyframes button-expansion {
  from {width: 30%;}
  to {width: 100%;}
}

@keyframes button-reverse {
  from {width:100%;}
  to {width:30%;}
}